.Card {
    height: 350px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #506e8d;
    box-shadow: 2px 2px #888888;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
