.Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 160px;

    border-radius: 60px;

    font-family: "Lato", sans-serif;
    font-size: 16px;

    letter-spacing: 1.27px;
    text-align: center;

    text-transform: uppercase;
}

.active {
}

.disabled {
    border: 2px solid #ccd6e1;

    color: #ccd6e1;
    letter-spacing: 1.64px;
}

.fill {
    background: #6bbfab;
    box-shadow: 0 6px 8px 0 rgba(103, 194, 172, 0.5);

    color: #ffffff;
    letter-spacing: 1.61px;
}

.no-fill {
    border: 2px solid #506e8d;

    color: #506e8d;
    letter-spacing: 1.27px;
}
